@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --paper:#EEEEEE;
    --wet-paper:#D7D5D2;
    --coffee:#201F1C;
    --cappuccino:#46433E;
}

body {
    background-color: var(--paper);
    background-image: url("assets/paper.png");
    background-repeat: repeat;
}